/*
Theme Name:     Jupiter Child Theme
Theme URI: 		http://themeforest.net/user/artbees
Description:    Child theme for the Jupiter theme
Author:         Your name here
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Version:        1.0
*/

@import url("typography.css");
@import url("home.css");

.mk-header.sticky-style-fixed .mk-header-bg {
  background: #ffffff !important;
}

.mk-button--size-large {
  padding: 18px 40px !important;
}
